<footer>
  <p><%= link_to 'hi@bjornrostad.no', 'mailto:hi@bjornrostad.no' %> <span>/</span> <%= link_to 'iMessage', 'imessage://hi@bjornrostad.no', :id => "imsg-desktop" %><%= link_to 'iMessage', 'sms:hi@bjornrostad.no', :id => "imsg-ios" %> <span>/</span> <%= link_to 'Twitter', 'http://twitter.com/bearroast' %></p>
  <%= partial "layouts/scroll-to-top" %>
</footer>
