<footer>
  <p><%= link_to 'Email', 'mailto:hi@bjornrostad.no' %> <span>/</span> <%= link_to 'iMessage', 'imessage://hi@bjornrostad.no', :class => "imsg-desktop" %><%= link_to 'iMessage', 'sms:hi@bjornrostad.no', :class => "imsg-ios" %> <span>/</span> <%= link_to 'Twitter', 'http://twitter.com/bearroast' %> <span>/</span> <%= link_to 'About', 'about.html' %></p>
  <%= partial "layouts/scroll-to-top" %>
</footer>
