<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= current_page.data.title || "Bjørn Rostad" %></title>
    <meta content="Bjørn Rostad" name="description">
    <meta content="Bjørn Rostad" name="author">
    <link rel="author" href="humans.txt">

    <%= favicon_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag 'all'  %>
  </head>

  <body>
      <%= yield %>
  </body>

  <script>
  
    if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
      $(".imsg-desktop").hide();
    } else {
      $(".imsg-ios").hide();
    }

  </script>
  <%= partial "layouts/analytics" %>
</html
