---
title: Bjørn Rostad › About
---

<section class="bio">
  <div class="container">
    <div class="entry">
      <p>I‘m a generalist designer who can take good ideas, turn them into living products, beginning to end. I seek structure, visual elegance and simplicity.</p>
      <p>In my past I‘ve worked at <%= link_to 'Delectable', 'http://www.delectable.com' %>, <%= link_to 'Code &amp; Theory', 'http://www.codeandtheory.com' %> and Wheelz (acquired by <%= link_to 'Turo', 'https://turo.com' %>). Now I‘m having fun with a couple of passion projects while looking for my next fulltime gig.</p>
    </div>
  </div>
</section>


<section class="interests">
  <div class="container">
    <div class="title">
      <h2>Interests</h2>
    </div>
    <div class="entry">
      <ul>
        <li>
          <h3>Bicycle rides 🚴</h3>
          <p>I ride my custom built single-speed designed to be as light as possible with minimum maintenance.</p>
        </li>
        <li>
          <h3>PC gaming 🕹</h3>
          <p>Currently playing Battlefield One and games from Blizzard. I also try at least a couple of indie games on <%= link_to 'Steam', 'https://steamcommunity.com/id/bearroast/' %> every month.</p>
        </li>
        <li>
          <h3>Mixing cocktails 🍹</h3>
          <p>My frustrations with managing my home bar inspired me to make a cocktail app (available for iOS soon). Currently drinking Blue Bottle Espresso Cocktail. Yummy.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="work">
  <div class="container">
    <div class="title">
      <h2>Work</h2>
    </div>
    <div class="entry">
      <ul>
        <li>
          <h3>Banquet</h3>
          <h6>Product designer / 2015-2016</h6>
          <p>Designed Banquet Dashboard — a sales platform for wine retailers to keep track of inventory and sell products online. Designed Banquet Shopping for iOS — a consumer app for buying wine from the America’s leading wine retailers. Worked with <%= link_to 'Whole Foods 365', 'https://www.365bywfm.com' %> to design an in-store wine scanner.</p>
        </li>
        <li>
          <h3>Delectable</h3>
          <h6>Product designer / 2012-2015</h6>
          <p>Initially started as a web designer/developer working on landing pages and internal tools using Ruby on Rails. Took over design of <%= link_to 'Delectable for iPhone', 'https://itunes.apple.com/us/app/delectable-wines-wine-scanner/id512106648?mt=8' %> for iOS 7 and beyond. Later designed <%= link_to 'Delectable for Android', 'https://play.google.com/store/apps/details?id=com.delectable.mobile&hl=en' %> and launched to great fanfare as Editor‘s Choice app.</p>
        </li>
        <li>
          <h3>Code &amp; Theory</h3>
          <h6>Internship / 2012</h6>
          <p>Worked in the UX team designing websites and apps for various clients. Did a bunch of prototypes in Keynote for web, TV and mobile.</p>
        </li>
        <li>
          <h3>Wheelz</h3>
          <h6>Internship / 2011</h6>
          <p>Worked on Wheelz for iOS, website and printed marketing material for the initial launch of Wheelz at Stanford University. Wheelz was later aquired by peer-to-peer car sharing company <%= link_to 'Turo', 'http://turo.com' %>.</p>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="education">
  <div class="container">
    <div class="title">
      <h2>Education</h2>
    </div>
    <div class="entry">
      <ul>
        <li>
          <h3>Academy of Art</h3>
          <h6>Master of Fine Arts / Completed in 2012</h6>
        </li>
        <li>
          <h3>Østfold Universty</h3>
          <h6>Digital Media / Completed in 2009</h6>
        </li>
      </ul>
    </div>
  </div>
</section>
