---
title: Bjørn Rostad › Alchemist Cocktails
---

<section class="masthead project-alchemist-cover">
  <div class="container">
    <div class="aligner">
      <div class="masthead-text">
        <h1>Alchemist Cocktails</h1>
        <p>The world of wine used to be opaque and difficult to understand. We wanted to change that. We built Delectable — a community of wine drinkers, industry experts and sommeliers.</p>
      </div>
    </div>
  </div>
</section>

<section class="project-overview">
  <div class="container">
    <div class="overview-box">
      <h5>Timeline</h5>
      <span>2016</span>
    </div>
    <div class="overview-box">
      <h5>Role</h5>
      <span>Design and Code</span>
    </div>
    <div class="overview-box">
      <h5>Platform</h5>
      <span>iPhone</span>
    </div>
  </div>
</section>

<section class="project-content">
  <div class="container">
    <p>But this argument—that wine and tech won’t ever truly play nice—is an odd one, given that wine has never been any one thing. Wine is a product that is bought and sold and is as complex as we, the consumers, want it to be. And the internet is not the enemy of wine—it is a platform for information-sharing and selling products. It seems only a matter of time before the right combination of the two will tilt the scales in favor of wine and tech getting along.</p>
  </div>
</div>

<section class="project-content">
  <div class="container">
    <h2>Goats are great animals</h2>
    <div class="gallery">
      <picture><%= image_tag 'delectable/camera_01.jpg' %></picture>
      <picture><%= image_tag 'delectable/wine_01.jpg' %></picture>
      <picture><%= image_tag 'delectable/feed_01.jpg' %></picture>
    </div>
  </div>
</section>

<section class="project-content">
  <div class="container">
    <p>And perhaps that one facet of that combination has already arrived, in the form of image recognition apps. Delectable, an app that scans, sorts and shares smartphone images of wine labels, is one such example. In the relatively short time it’s existed (the company was founded in 2011), Delectable has become one of the most highly praised wine apps on the market, having won the approval of top critics such as Jancis Robinson and Jon Bonné, and an enthusiastic coterie of sommeliers as its user base, including Rajat Parr, Jordan Salcito and Richard Betts. As one of the first apps to garner both the support of the industry and attract a wide audience, it can be considered something of a breakthrough.</p>
  </div>
</section>

<section class="project-content">
  <div class="container">
    <p>So far, Delectable’s success seems to lie in its solution to two big problems that have hampered consumer wine apps: operator error and the banality of averaged reviews. As for the former, photo recognition largely solves this, as users upload a photo of the label, rather than have the chance to misspell wine names.</p>
  </div>
</div>
</section>

<section class="project-content">
  <div class="container">
    <h2>Goats are great animals</h2>
    <div class="gallery">
      <picture><%= image_tag 'delectable/camera_01.jpg' %></picture>
      <picture><%= image_tag 'delectable/wine_01.jpg' %></picture>
      <picture><%= image_tag 'delectable/feed_01.jpg' %></picture>
    </div>
  </div>
</section>

<section class="project-content">
  <div class="container">
    <div class="gallery">
      <picture><%= image_tag 'delectable/camera_01.jpg' %></picture>
      <picture><%= image_tag 'delectable/wine_01.jpg' %></picture>
      <picture><%= image_tag 'delectable/feed_01.jpg' %></picture>
    </div>
  </div>
</section>

<section class="project-content">
  <div class="container">
    <p>And perhaps that one facet of that combination has already arrived, in the form of image recognition apps. Delectable, an app that scans, sorts and shares smartphone images of wine labels, is one such example. In the relatively short time it’s existed (the company was founded in 2011), Delectable has become one of the most highly praised wine apps on the market, having won the approval of top critics such as Jancis Robinson and Jon Bonné, and an enthusiastic coterie of sommeliers as its user base, including Rajat Parr, Jordan Salcito and Richard Betts. As one of the first apps to garner both the support of the industry and attract a wide audience, it can be considered something of a breakthrough.</p>
  </div>
</section>

<section class="project-content">
  <div class="container">
    <p>So far, Delectable’s success seems to lie in its solution to two big problems that have hampered consumer wine apps: operator error and the banality of averaged reviews. As for the former, photo recognition largely solves this, as users upload a photo of the label, rather than have the chance to misspell wine names.</p>
  </div>
</section>
