---
title: Bjørn Rostad › Banquet Shopping
---

<section class="masthead project-banquet-cover">
  <div class="container">
    <div class="aligner">
      <h1>Banquet Shopping</h1>
      <p>Tools for wine merchants to sell wine online and improve sales with purchase flows optimized for mobile.</p>
      <div class="scroll-indicator">
        <%= image_tag 'scroll-indicator.svg' %>
      </div>

    </div>
  </div>
</section>

<section class="project-overview">
  <div class="container">
    <div class="overview-box">
      <h5>Timeline</h5>
      <span>2015-2016</span>
    </div>
    <div class="overview-box">
      <h5>Role</h5>
      <span>Product Designer</span>
    </div>
    <div class="overview-box">
      <h5>Platform</h5>
      <span>iPhone, iPad and Web</span>
    </div>
  </div>
</section>



<section class="project-content">
  <div class="container">
    <p>Banquet partnered with the top wine merchants in America and built tools that makes it very easy and efficient to merchandise wine, sell online and make sure the inventory is always up to date.</p>
    <p>For this project I got to work on multiple platforms simultanously. I started by designing prototypes in Principle of a modern shopping app and website that requires no authentication. Later I worked on a dashboard for managing inventory, CRM and a CMS for the the app and website.</p>
  </div>
</section>

<section class="project-content odd-bg">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'banquet/dashboard_product.jpg' %></figure>
    </div>
    <p>We quickly realized through surveys and interviews that stores don‘t want another system to manage and update. We built a dashboard system that organizes a store‘s wine inventory intelligently with information pulled from Delectable. Products are automatically merchandised with tags, ratings, tasting notes, photos and more. There‘s no work involved for the merchant other than fulfilling orders.</p>
  </div>
</section>


<section class="project-content">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'banquet/dashboard_delivery.jpg' %></figure>
    </div>
    <p>Keeping stores updated on deliveries and shipment notifications is important. We integrated Postmates with Google Maps and stores receives alerts when new orders come in.</p>
  </div>
</section>

<section class="project-content odd-bg">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'banquet/banquet_browse.jpg' %></figure>
    </div>
    <p>Customers can shop their favorite store and filter wines by type, price, rating and tags.</p>
  </div>
</section>


<section class="project-content">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'banquet/banquet_product.jpg' %></figure>
    </div>
    <p>The app is universal for iPhone and iPad. Products on iPad are displayed in a modal to make it quick to go through multiple products.</p>
  </div>
</section>


<section class="project-content odd-bg last">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'banquet/banquet_web_product.jpg' %></figure>
    </div>
    <p>We designed and built a website modeled after the app. It dramatically improved sales for retailers as the product pages started showing up in search engines when people searched online for wine.</p>
  </div>
</section>

<section class="project project-delectable">
  <div class="container">
    <div class="content">
      <h4>App design</h4>
      <h2>Delectable Wine</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'delectable.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>
