---
title: Bjørn Rostad › Designing Delectable
---
<%= partial "layouts/fullscreen-menu" %>

<div class="site-wrap">
  <div class="push-wrap">

    <%= link_to 'Bjørn Rostad', '/index.html', :class => "previous" %>

    <button class="toggle-nav hamburger hamburger--collapse" id="hamburger-button" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <section class="masthead project-delectable-cover">
      <div class="container">
        <div class="aligner">
          <div class="masthead-text">
            <h1>Designing Delectable</h1>
            <h3>By simply taking a photo of a wine bottle, Delectable‘s image recognition engine will identify the wine in less than one second.</h3>
          </div>
        </div>
      </div>
    </section>

    <main>
      <div class="container">
        <h2>Product Screen</h2>
        <p class="feature-description">Wine is complex, and buying wine is even more difficult. So we democratized the industry by letting both wine enthusiasts and experts write and share their tasting notes.</p>
        <p>Wine is complex, and buying wine is even more difficult. So we’ve democratized the industry by letting both wine enthusiasts and experts write and share their tasting notes, and consolidating their reviews in one place. It was a lot of fun to design a product that is useful to both casual wine drinkers and industry experts, who work with wine fulltime as wine makers, journalists and sommeliers at the world‘s top restaurants.</p>
        <%= image_tag 'http://placehold.it/265x472', :class => 'screen' %>
        <%= image_tag 'http://placehold.it/265x472', :class => 'screen' %>
        <%= image_tag 'http://placehold.it/265x472', :class => 'screen' %>
      </div>
    </main>
  </div>
</div>

<script>
  var hamburger = document.getElementById('hamburger-button');
  hamburger.addEventListener('click', function (e) {
      hamburger.classList.toggle('is-active');
      e.preventDefault();
  });
</script>




<!--

          <ul>
            <li>Platform: iPhone and Android</li>
            <li>Role: Product Design</li>
            <li>Date: 2012-2015</li>
          </ul>

          <ul>
            <li>main screens ios + android + editors choice etc</li>
            <li>colors and icon</li>
            <li>wireframes and grid</li>
            <li>scan</li>
            <li>wine profile</li>
            <li>feed</li>
            <li>press + outcome</li>
          </ul>



          <h3>inspiration</h3>
          <ul>
            <li>case study: http://www.thomasmichel.me/livit.html</li>
            <li>case study: http://jessecha.se/work/blueapron.html</li>
            <li>case study: http://www.teehanlax.com/story/prismatic/</li>
            <li>case study: http://martijnvandenbroeck.com/portfolio/skype-now/</li>
            <li>case study: https://bakkenbaeck.com/case/kolonial</li>
            <li>resume: http://twnsnd.co</li>
            <li>intro: http://v4.kerem.co/works/fitbit</li>
            <li>about: http://martijnvandenbroeck.com/my-story/</li>
            <li>brand: http://doub.co/en/project/gdka</li>
            <li>index: http://sheldonlotter.com</li>
          </ul> -->
