---
title: Bjørn Rostad › Delectable Wine
---

<section class="masthead project-delectable-cover">
  <div class="container">
    <div class="aligner">
      <h1>Delectable Wine</h1>
      <p>I helped design Delectable — a community of wine drinkers, experts and sommeliers. Its image recognition technology identifies wine labels and displays information and reviews.</p>
      <div class="badge-container">
        <%= image_tag 'app-store-best-new-app.svg', :class => 'badge-1' %>
        <%= image_tag 'play-store-editors-choice.svg', :class => 'badge-2' %>
      </div>
      <div class="scroll-indicator">
        <%= image_tag 'scroll-indicator.svg' %>
      </div>    </div>
  </div>
</section>

<section class="project-overview">
  <div class="container">
    <div class="overview-box">
      <h5>Timeline</h5>
      <span>2012-2015</span>
    </div>
    <div class="overview-box">
      <h5>Role</h5>
      <span>Product Designer</span>
    </div>
    <div class="overview-box">
      <h5>Platform</h5>
      <span>iPhone and Android</span>
    </div>
  </div>
</section>


<section class="project-content">
  <div class="container">
    <p>The first version we put up on the App Store had a very limited feature set, but it built the foundation for future versions of the app: take a picture of a bottle and add tasting notes. The camera flow have remained mostly unchanged since 2012. You start by taking a picture of a wine bottle, get a wine match, and optionally add a rating.</p>
  </div>
</section>

<section class="project-content odd-bg">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'delectable/screens_01.jpg' %></figure>
    </div>
  </div>
</section>


<section class="project-content">
  <div class="container">
    <p>After taking a picture, Delectable‘s image recognition engine will identify the wine and the app will display metadata, ratings and tasting notes.</p>
    <div class="gallery">
      <figure><%= image_tag 'delectable/screens_02.jpg' %></figure>
    </div>
  </div>
</section>

<section class="project-content odd-bg">
  <div class="container">
    <p>Delectable is a wine community where people can follow friends, leave comments and discuss wine. We modeled the social layer after apps like Instagram and Facebook.</p>
    <div class="gallery">
      <figure><%= image_tag 'delectable/screens_03.jpg' %></figure>
    </div>
  </div>
</section>

<section class="project-content">
  <div class="container">
    <h2>Designing for Android</h2>
    <p>I worked with an Android engineer and designed and built our first version of Delectable for Android right before Material Design was announced. After the Google I/O keynote in 2014 where Material Design was unveiled we went back to the drawing board and redesigned core parts of the app from scratch. Google awarded Delectable for Android with and Editor‘s Choice award as a result of the redesign.</p>
    <div class="gallery">
      <figure><%= image_tag 'delectable/screens_04.jpg' %></figure>
    </div>
  </div>
</section>

<section class="project project-banquet">
  <div class="container">
    <div class="content">
      <h4>App + Website design</h4>
      <h2>Banquet Shopping</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'banquet.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>
