---
title: Bjørn Rostad › Delectable Wine
---

<section class="masthead project-delectable-cover">
  <div class="container">
    <div class="aligner">
      <h1>Delectable Wine</h1>
      <p>Wine can be opaque and difficult to understand. Delectable wanted to change that. I helped design Delectable — a community of wine drinkers, industry experts and sommeliers.</p>
      <div class="badge-container">
        <%= image_tag 'app-store-best-new-app.svg', :class => 'badge-1' %>
        <%= image_tag 'play-store-editors-choice.svg', :class => 'badge-2' %>
      </div>
      <%= image_tag 'scroll-indicator.svg', :class => 'scroll-indicator' %>
    </div>
  </div>
</section>

<section class="project-overview">
  <div class="container">
    <div class="overview-box">
      <h5>Timeline</h5>
      <span>2012-2015</span>
    </div>
    <div class="overview-box">
      <h5>Role</h5>
      <span>Product Designer</span>
    </div>
    <div class="overview-box">
      <h5>Platform</h5>
      <span>iPhone and Android</span>
    </div>
  </div>
</section>


<section class="project-content">
  <div class="container">
    <p>The first version we put up on the App Store was pretty bare bones and simple: take a picture of a bottle and add tasting notes. This is the simple camera flow that remained mostly unchanged since 2012. You start by taking a picture of a wine bottle, get a wine match and optionally add a rating.</p>
    <div class="gallery">
      <figure><%= image_tag 'delectable/camera_01.jpg', :srcset => 'delectable/camera_01.jpg 1x, delectable/camera_01@2x.jpg 2x' %></figure>
      <figure><%= image_tag 'delectable/rate_01.jpg', :srcset => 'delectable/wine_01.jpg 1x, delectable/wine_01@2x.jpg 2x' %></figure>
      <figure><%= image_tag 'delectable/rate_02.jpg', :srcset => 'delectable/rate_02.jpg 1x, delectable/rate_02@2x.jpg 2x' %></figure>
    </div>
  </div>
</section>

<section class="project-content odd-bg">
  <div class="container">
    <p>After taking a picture, Delectable‘s image recognition engine will identify the wine and the app will display facts, ratings and tasting notes.</p>
  <div class="gallery">
    <figure><%= image_tag 'delectable/wine_05.jpg', :srcset => 'delectable/wine_05.jpg 1x, delectable/wine_05@2x.jpg 2x' %></figure>
    <figure><%= image_tag 'delectable/info_02.jpg', :srcset => 'delectable/info_02.jpg 1x, delectable/info_02@2x.jpg 2x' %></figure>
    <figure><%= image_tag 'delectable/info_03.jpg', :srcset => 'delectable/info_03.jpg 1x, delectable/info_03@2x.jpg 2x' %></figure>
  </div>
</div>
</section>


<section class="project-content">
  <div class="container">
    <p>An important aspect of Delectable is the huge community. Delectable is a social app where people can follow friends, leave comments and discuss wine.</p>
  <div class="gallery">
    <figure><%= image_tag 'delectable/feed_01.jpg', :srcset => 'delectable/feed_01.jpg 1x, delectable/feed_01@2x.jpg 2x' %></figure>
    <figure><%= image_tag 'delectable/profile_02.jpg', :srcset => 'delectable/profile_02.jpg 1x, delectable/profile_02@2x.jpg 2x' %></figure>
    <figure><%= image_tag 'delectable/profile_03.jpg', :srcset => 'delectable/profile_03.jpg 1x, delectable/profile_03@2x.jpg 2x' %></figure>
  </div>
</div>
</section>

<section class="project-content odd-bg">
  <div class="container">
    <h2>Designing for Android</h2>
    <p>I worked with an Android engineer and designed and built our first version of Delectable for Android right before Material Design was announced. After the Google Keynote where Material Design was unveiled we went back to the drawing board and redesigned core parts of the app from scratch. Google awarded Delectable for Android with and Editor‘s Choice award as a result of the redesign.</p>
  <div class="gallery">
    <figure><%= image_tag 'delectable/and_01.jpg', :srcset => 'delectable/and_01.jpg 1x, delectable/and_01@2x.jpg 2x' %></figure>
    <figure><%= image_tag 'delectable/and_02.jpg', :srcset => 'delectable/and_02.jpg 1x, delectable/and_02@2x.jpg 2x' %></figure>
    <figure><%= image_tag 'delectable/and_03.jpg', :srcset => 'delectable/and_03.jpg 1x, delectable/and_03@2x.jpg 2x' %></figure>
  </div>
</div>
</section>

<section class="project project-alchemist">
  <div class="container">
    <div class="content">
      <h4>App design + code</h4>
      <h2>Alchemist Cocktails</h2>
      <div class="link-container">
        <%= link_to 'Next Project', 'alchemist.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>
