---
title: Bjørn Rostad › Delectable Wine
---

<section class="masthead project-delectable-cover">
  <div class="container">
    <div class="aligner">
      <h1>Delectable Wine</h1>
      <p>For 3 years I designed Delectable &mdash; a popular app for wine drinkers and sommeliers. Its magical image recognition technology identifies wine labels and displays information and reviews.</p>
      <div class="badge-container">
        <%= image_tag 'app-store-best-new-app.svg', :class => 'badge-1' %>
        <%= image_tag 'play-store-editors-choice.svg', :class => 'badge-2' %>
      </div>
      <div class="scroll-indicator">
        <%= image_tag 'scroll-indicator.svg' %>
      </div>    </div>
  </div>
</section>

<section class="project-overview">
  <div class="container">
    <div class="overview-box">
      <h5>Timeline</h5>
      <span>2012-2015</span>
    </div>
    <div class="overview-box">
      <h5>Role</h5>
      <span>Product Designer</span>
    </div>
    <div class="overview-box">
      <h5>Platform</h5>
      <span>iPhone and Android</span>
    </div>
  </div>
</section>


<section class="project-content">
  <div class="container">
    <p>One of the most difficult challenges with this project was to keep the core of the experience as simple as possible, while still adding features that satisfy both casual users as well as wine pros who use the app multiple times a day. By the end of 2015 the app had a 5 star rating and over 5000 reviews in the App Store and Google Play Store.</p>

    <p>We designed the foundation of Delectable around a single task: take a picture of a wine bottle, get the picture matched with a wine, and optionally add a rating.</p>
  </div>
</section>

<section class="project-content odd">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'delectable/screens_01.jpg' %></figure>
    </div>
    <p>Take a picture of the wine label, get information about the wine and optionally add a rating and review. Many people do this to see if the wine they‘re holding is worth it, or to write a note about a wine they just tasted.</p>
  </div>
</section>


<section class="project-content">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'delectable/screens_02.jpg' %></figure>
    </div>
      <p>Delectable‘s image recognition engine quickly identifies wine and the app displays metadata, ratings and tasting notes.</p>
  </div>
</section>

<section class="project-content odd">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'delectable/screens_03.jpg' %></figure>
    </div>
    <p>We modeled the social layer after apps like Instagram and Facebook. It quickly became the primary channel to see which wines are trending and popular among industry experts and sommeliers at the world‘s best restaurants.</p>
  </div>
</section>

<section class="project-content last">
  <div class="container">
    <div class="gallery">
      <figure><%= image_tag 'delectable/screens_04.jpg' %></figure>
    </div>
    <p>I worked with an Android engineer and designed the first version of Delectable for Android right before Google I/O in 2014. After the keynote where Material Design was unveiled we went back to the drawing board and spent the following days and nights redesigning the app with the updated guidelines in mind. Google awarded Delectable for Android with Editor‘s Choice as a result of the redesign.</p>
  </div>
</section>

<section class="project project-banquet">
  <div class="container">
    <div class="content">
      <h4>App + Website design</h4>
      <h2>Banquet Shopping</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'banquet.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>
