---
title: Bjørn Rostad
---

<main>

  <section class="container">

        <div class="avatar">
          <%= image_tag 'bearroast.png', class: 'avatar', title: '@bearroast' %>
        </div>

        <div class="intro">
          <p>Hello. I'm Bjørn Rostad, a Norwegian designer living in San Francisco. My focus is on designing and crafting apps and websites that are delightful, elegant and easy to use.</p>

          <%= link_to 'Read more', '/about.html' %>
        </div>

  </section>

  <section class="container projects">

    <div class="project project-delectable">
      <h4>App design</h4>
      <h2>Delectable Wine</h2>
      <%= link_to 'View Project', '/delectable.html', :class => 'chevron' %>
    </div>

    <div class="project project-alchemist">
      <h4>App design + development</h4>
      <h2>Alchemist Cocktails</h2>
      <a href="/alchemist.html" class="chevron">
        <span>View Project</span>
      </a>
    </div>

    <div class="project project-banquet-dashboard">
      <h4>Website design</h4>
      <h2>Banquet Dashboard</h2>
      <%= link_to 'View Project', '/banquet-dashboard.html', :class => 'chevron chevron-banquet' %>
    </div>

    <div class="project project-banquet-ios">
      <h4>App design</h4>
      <h2>Banquet Shopping</h2>
      <%= link_to 'View Project', '/banquet-ios.html', :class => 'chevron chevron-banquet' %>
    </div>

  </section>

</main>
