---
title: Bjørn Rostad
---

<p>Hello there. My name is Bjørn (🐻 in Norwegian) and I work on <%= link_to 'Dropbox Paper', 'https://dropbox.com/paper' %> which enables people to work together more effectively.</p>
<p>Feel free to send me an <%= link_to 'iMessage', 'imessage://hi@bjornrostad.no', :class => "imsg-desktop" %><%= link_to 'iMessage', 'sms:hi@bjornrostad.no', :class => "imsg-ios" %> if you want to get in touch. I’m also fairly active via <%= link_to 'email', 'mailto:hi@bjornrostad.no' %> and on <%= link_to 'Twitter', 'https://twitter.com/bearroast' %>.</p>

<h2>Projects I've worked on</h2>

<ul>
  <li>
    <span class="color-block dropbox"></span>
    <h3>Dropbox Paper</h3>
    <h4>Product Designer</h4>
  </li>

  <li>
    <span class="color-block dropbox"></span>
    <h3>Dropbox Paper</h3>
    <h4>Product Designer</h4>
  </li>

  <li>
    <span class="color-block dropbox"></span>
    <h3>Dropbox Paper</h3>
    <h4>Product Designer</h4>
  </li>

  <li>
    <span class="color-block dropbox"></span>
    <h3>Dropbox Paper</h3>
    <h4>Product Designer</h4>
  </li>

  <li>
    <span class="color-block dropbox"></span>
    <h3>Dropbox Paper</h3>
    <h4>Product Designer</h4>
  </li>
</ul>
