---
title: Bjørn Rostad
---

<main>

  <section class="container">

        <div class="avatar">
          <%= image_tag 'bearroast.png', title: '@bearroast' %>
        </div>

        <div class="intro">
          <p>Hello! My name is Bjørn Rostad and I'm a Norwegian designer living and working in San Francisco. I focus on designing and crafting apps, websites and design systems that are delightful, elegant and easy to use.</p>

          <p><%= link_to 'Read more', 'about.html' %> or check out some of my work below.</p>
        </div>

  </section>

  <section class="container projects">

    <div class="project project-delectable" id="project-delectable">
      <h4>App design</h4>
      <h2>Delectable Wine</h2>
      <%= link_to 'View Project', 'delectable.html', :class => 'chevron' %>
    </div>

    <div class="project project-alchemist" id="project-alchemist">
      <h4>App design + development</h4>
      <h2>Alchemist Cocktails</h2>
      <%= link_to 'View Project', 'alchemist.html', :class => 'chevron' %>
    </div>

    <div class="project project-banquet" id="project-banquet">
      <h4>App + Website design</h4>
      <h2>Banquet Shopping</h2>
      <%= link_to 'View Project', 'banquet.html', :class => 'chevron chevron-banquet' %>
    </div>

  </section>

</main>
