---
title: Bjørn Rostad
---

<p>Hello there. My name is Bjørn and I’m  a designer on <%= link_to 'Dropbox Paper', 'https://dropbox.com/paper' %> which is a tool that help people collaborate and grow ideas together.</p>

<p>The easiest way to reach me is by sending an <%= link_to 'iMessage', 'imessage://hi@bjornrostad.no', :class => "imsg-desktop" %><%= link_to 'iMessage', 'sms:hi@bjornrostad.no', :class => "imsg-ios" %>. I’m also fairly active via <%= link_to 'email', 'mailto:hi@bjornrostad.no' %> and on <%= link_to 'Twitter', 'https://twitter.com/bearroast' %>.</p>

<h2>Work and projects</h2>

<ul>
  <li>
    <span class="color-block dropbox"></span>
    <h3>Dropbox Paper</h3>
    <h4>Product Designer</h4>
  </li>
  <li>
    <span class="color-block liquid"></span>
    <h3>Liquid Bar Manager</h3>
    <h4>Side project</h4>
  </li>
  <li>
    <span class="color-block delectable"></span>
    <h3>Delectable Wine</h3>
    <h4>Product Designer</h4>
  </li>
  <li>
    <span class="color-block banquet"></span>
    <h3>Banquet Wine Shop</h3>
    <h4>Product Designer</h4>
  </li>
  <li>
    <span class="color-block ct"></span>
    <h3>Code &amp; Theory</h3>
    <h4>Internship</h4>
  </li>
  <li>
    <span class="color-block wheelz"></span>
    <h3>Wheelz</h3>
    <h4>Internship</h4>
  </li>
</ul>
