---
title: Bjørn Rostad
---

<section class="intro">
  <div class="container">
    <p>Hello there. My name is <%= link_to 'Bjørn', 'about.html' %> 🐻 and I’m a designer on <%= link_to 'Dropbox Paper', 'http://dropbox.com/paper' %> which is a tool for people to collaborate and grow ideas together.</p>

    <p>The easiest way to reach me is by sending an <%= link_to 'iMessage', 'imessage://hi@bjornrostad.no', :class => "imsg-desktop" %><%= link_to 'iMessage', 'sms:hi@bjornrostad.no', :class => "imsg-ios" %> or <%= link_to 'email', 'mailto:hi@bjornrostad.no' %>.</p>
  </div>
</section>

<section class="project project-paper">
  <div class="container">
    <div class="content">
      <h4>Working on</h4>
      <h2>Dropbox Paper</h2>
      <div class="link-container">
        <%= link_to 'Visit Paper', 'http://dropbox.com/paper', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>

<section class="project project-alchemist">
  <div class="container">
    <div class="content">
      <h4>Ongoing side project</h4>
      <h2>Liquid Bar Manager</h2>

    </div>
  </div>
</section>

<section class="project project-delectable">
  <div class="container">
    <div class="content">
      <h4>Product designer</h4>
      <h2>Delectable Wine</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'delectable.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>

<section class="project project-banquet">
  <div class="container">
    <div class="content">
      <h4>Product designer</h4>
      <h2>Banquet Shopping</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'banquet.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>
